
<div *ngIf="show==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="show==true" class="table">
    <thead>
      <tr>
        <th scope="col">UserId</th>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of todos">
        <th scope="row">{{item.userId}}</th>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.completed}}</td>
      </tr>
      
    </tbody>
  </table>
